@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.Logo{
    font-family: 'Anton', sans-serif;
    justify-content: flex-start;
    padding: 20px;
    transition: opacity 1s;
    transition: color 3s;
}

.Logo:hover{
    opacity: 0.8;
    color: gray;
    cursor: pointer;
}

.Menu{
    padding: 20px;
    position: relative;
    display: inline-block;
    transition: opacity 3s;
}

.Menu:hover{
    opacity: 0.7;
}

.AllOfNavbar{
    display: flex;
    justify-content: space-between;
    color: white;
}

.ContentOfMenu{
    display: none;
    position: absolute;
}

.Menu:hover .ContentOfMenu{
    display: block;
}

.ElementOfContent{
    padding-top: 10px;
    padding-right: 5px;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}